<section class="general-container" id="modal">
    <div class="pop-up">
        <div class="btns-popup">
            <div>
                <h3>Administrate</h3>
            </div>
            <div>
                <a href="edit-product"><button id="edit-btn">Edit Product</button></a>
                <a href="create-product"><button id="create-btn"> Create Product</button></a>
            </div>
        </div>
    </div>
    <a href="#" class="close">X</a>
</section>