<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product</title>
    <link rel="stylesheet" href="/css/form-product.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="edit-product-box">
      <header><%- include('./partials/header')%></header>
      <main>
        <section>
          <form method="post" action='/products' enctype="multipart/form-data">
            <div class="edit-form-element">
              <label for="product-name">Product Name:</label>
              <input type="text" id='product-name' name='name' required />
            </div>

            <div class="edit-form-element">
              <label for="product-description">Description:</label>
              <textarea rows="10" cols="50" id='product-description' name='description' required ></textarea>
            </div>

            <div class="edit-form-element">
              <label for="product-image">Product Image</label>
              <input type="file" name='image' id='product-image' required />
            </div>

            <div class="edit-form-element">
              <label for="product-category">Category</label>
              <select id="product-category" name="Categories_id">
                <% allCategories.forEach( category => { %>
                  <option value="<%= category.id %>">
                    <%= category.name %> 
                  </option>
                <% }) %> 
              </select>
            </div>
            <div class="price-time">
            <div class="edit-form-element">
              <label for="product-price">Price:</label>
              <input id="product-price" class="product-price" type="number" name='price' required />
            </div>

            <div class="edit-form-element">
              <label for="product-delay">Product Delay Time:</label>
              <input id="product-delay" class="delay-time" type="text" name='producttime' required />
            </div>
          </div>
            <button type="submit">Create</button>
          </form>
        </section>
      </main>

      <footer>
        <%- include('./partials/footer')%>
      </footer>
    </div>
  </body>
</html>