<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
      <%- include('./partials/header')%>
    <main class="m-home">
      <section class="welcome-style">
        <h1>¡Welcome to Food Place!</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
          aut numquam officiis
        </p>
      </section>

      <section class="carousel-style">
        <i class="fas fa-arrow-circle-left"></i>
        <article>
          <img id="img-1" src="./img/banner1.jpg" alt="banner1" />
        </article>
        <article>
          <img id="img-2" src="./img/banner2.jpg" alt="banner2" />
        </article>
        <article>
          <img id="img-3" src="./img/banner3.jpg" alt="banner3" />
        </article>
        <article>
          <img id="img-4" src="./img/banner4.jpg" alt="banner4" />
        </article>
        <i class="fas fa-arrow-circle-right"></i>
      </section>
    </main>
    <footer class="f-home">
    <%- include('./partials/footer.ejs') %> 
  </footer>
  </body>  
</html>
