<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles-home.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="home-box">
      <%- include('./partials/header')%>
    <main class="m-home">
      <section class="welcome-style">
        <h1>¡Welcome to Food Place!</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
          aut numquam officiis
        </p>
      </section>

        <main class="m-home">
                <section class="welcome-style">
                    <h1>¡Welcome to Food Place!</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus aut numquam officiis </p>
                </section>
                
                <section class="carousel-style">
                   
                        <i class="fas fa-arrow-circle-left"></i>
                        <article>
                            <img id="img-1" src="./img/banner1.jpg" alt="banner1">
                        </article>
                        <article>
                            <img id="img-2" src="./img/banner2.jpg" alt="banner2">
                        </article>
                        <article>
                            <img id="img-3" src="./img/banner3.jpg" alt="banner3">
                        </article>
                        <article>
                            <img id="img-4" src="./img/banner4.jpg" alt="banner4">
                        </article>
                        <i class="fas fa-arrow-circle-right"></i>
                    
                </section>
            

        </main>
        <footer class="f-home">
            <div>
                <ul class="footer-right">
                    <li> <a href="#">Contact Us</a></li>
                    <li>|</li>
                    <li> <a href="#">About Us</a></li>
                </ul>
                <ul class="footer-left">
                    <li> <a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li> <a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li> <a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
