<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">  
    
</head>
<body>
    <main>
        <form action="/users/login" class="iniciosesion" method="POST">
        <div class="login">
            <h1 class="title">Login</h1>
            <h3 class="subtitle">Sign in to your account</h3>
            <div class="username">
                <input type="text" name="email" placeholder="Username" required >
                <% if (locals.errors && errors.email) { %>
                  <div class="errors">
                    <%= errors.email.msg %>
                  </div>
                <%} %>
            </div>
            <div class="password">
                <input type="password" name="password" minlength="5" placeholder="Password">
                <% if (locals.errors && errors.password) { %>
                    <div class="errors">
                      <%= errors.password.msg %>
                    </div>
                  <%} %>
                <p><label for="password"> Do you forget your password? <a href="register">Click here</a></label></p>
            </div>
            <div class="remember">
                <label for="rememberme">Remember me</label>
                <input type="checkbox" name="remember" id ="rememberme" value="rememberme">
            </div>
            <div class="botonlogin">
                <a href="/"><button type="submit">Login</button></a>
                <p>if you don't have an account, <a href="register">Register now</a></p>
            </div>
            <div class="continuarg">
                <button type="button">Continue with Google <i class="fab fa-google"></i></button>
            </div>
            <div class="backhome">
                <a href="/"><i class="fas fa-caret-left"></i></a>
            </div>
        </div>
    </form>
    </main>
</body>
</html>