<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">  
    
</head>
<body>
    <main>
        <form action="/" class="iniciosesion" method="GET">
        <div class="login">
            <h1 class="title">Login</h1>
            <h3 class="subtitle">Sign in to your account</h3>
            <div class="username">
                <input type="text" placeholder="Username" required >
            </div>
            <div class="password">
                <input type="password" minlength="5" name="password" placeholder="Password">
                <p><label for="password"> Do you forget your password? <a href="register">Click here</a></label></p>
            </div>
            <div class="remember">
                <label for="rememberme">Remember me</label>
                <input type="checkbox" name="rememberme" id ="rememberme" value="rememberme">
            </div>
            <div class="botonlogin">
                <a href="/"><button type="submit">Login</button></a>
                <p>if you don't have an account, <a href="register">Register now</a></p>
            </div>
            <div class="continuarg">
                <button type="button">Continue with Google <i class="fab fa-google"></i></button>
            </div>
            <div class="backhome">
                <a href="/"><i class="fas fa-caret-left"></i></a>
            </div>
        </div>
    </form>
    </main>
</body>
</html>