<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">  
    
</head>
<body>
    <main>
        <form action="/users/login" class="iniciosesion" method="POST" id="form">
        <div class="login">
            <h1 class="title">Login</h1>
            <h3 class="subtitle">Sign in to your account</h3>
            <div class="username" >
                <div class="form-input" id="group__email">
                    <input type="text" name="email" id="email" placeholder="Email">
                    <i class="far fa-times-circle state-validation"></i>
                </div>
                <p class="input-error-email">
                    Invalid Email
                </p>
                <% if (locals.errors && errors.email) { %>
                  <div class="text-danger">
                    <%= errors.email.msg %>
                  </div>
                <%} %>
            </div>
            <div class="password" >
                <div class="form-input" id="group__password">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <i class="far fa-times-circle state-validation"></i>
                </div>
                <p class="input-error-password">
                    Enter your password
                </p>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger" >
                      <%= errors.password.msg %>
                    </div>
                  <%} %>
                <p><label for="password"> Do you forget your password? <a href="register">Click here</a></label></p>
            </div>
            <div class="remember">
                <label for="rememberme">Remember me </label>
                <input type="checkbox" name="remember" id ="rememberme" value="rememberme">
            </div>
            <div class="botonlogin">
                <a href="/"><button type="submit">Login</button></a>
                <p>if you don't have an account, <a href="register">Register now</a></p>
            </div>
            <div class="backhome">
                <a href="/"><i class="fas fa-caret-left"></i></a>
            </div>
            <div class="form-message" id="form-message">  
                <p><i class="fas fa-exclamation-triangle"></i> Fill in all the inputs correctly</p>
            </div>
        </div>
    </form>
    </main>
</body>
<script src="/js/login.js"></script>
</html>