<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <title>Shopping cart</title>
</head>
<body>
    <header><%- include('./partials/header')%></header>
    <main class="m-cart">
        <section class="container-ext">
            <section class="container-int">
             
            </section> 
        </section>
        <div class="out-cart">
            <button><i class="fas fa-caret-left"></i> Buy</button>
            <p class="subtotal">Total: $150.000 COP</p>
            <button>Pay <i class="fas fa-caret-right"></i></button>
        </div>
    </main>
    <footer class="f-cart">
    <%- include('./partials/footer.ejs') %>
    </footer>
    <script>
      let products = JSON.parse(localStorage.getItem('products'))
      console.log(products)
      let containerInit = document.querySelector('.container-int')
      for (let i = 0; i < products.length; i++) {
        let container = document.createElement('article')
        let text = document.createElement('h2')
        let img = document.createElement('img')
        let text2 = document.createElement('p')
        container.classList.add('flex')
        img.classList.add('image')
        img.src = `/img/products/${products[i].image}`
        text.append(products[i].name)
        text2.append(`$ ${products[i].price}`)
        container.appendChild(img)
        container.appendChild(text)
        container.appendChild(text2)
        containerInit.appendChild(container)
      }
    </script>
</body>
</html>