@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url("header-footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/fast-food-1.jpg);
  background-size: cover;
  padding-top: 8px;
}
header .search button {
  padding:  0 6px
}
header .list li a, .list1 li a, .list2 li a {
  font-size: 15px;
}

.detail-product-box{
  width: 100%;

  min-height: 100vh;
}

.detail-product-box, button {
  font-family: 'Poppins', sans-serif;
}

.detail-product-box h1{
  color: #2E2C36;
}

.detail-product-box p {
  color: #6A696E;
}

/*Header*/


/*Product Detail*/

main .detail-product-single {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 10px;
  padding: 60px 30px  30px  30px;
  background-color:  #000000b2;
   border-bottom : 4px solid   #000000;
}


/*Product image box*/
main .product-single-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

main .product-single-product img {
  width: 75%;
  max-width: 700px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 21px -8px rgba(61, 60, 60, 0.75);
  -moz-box-shadow: 10px 10px 21px -8px rgba(61, 60, 60, 0.75);
  box-shadow: 10px 10px 21px -8px rgba(61, 60, 60, 0.75);
}

main .single-product-quantity{
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  gap: 12px;
}

main .single-product-quantity div{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #ec020277;
}

/*Product Description box*/
main .product-single-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 0px 30px;
  max-width: 400px;
  color: white
}

main .product-single-description p,.product-single-description h1{
  color: white
}


main .product-single-description h2{
  font-size: 20px;
  color: white
}



/*Other products*/

main .detail-product-others{
  margin-top: 60px;
  background-color: #ffffffc2;

}

main .product-others-title{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  border-top: 4px solid white
}

main .product-others-title h1{
  font-size: 25px;
  color: #000000;
}

main .product-other-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  
}


/*Single card */
main .product-other-products .other-products-single{
  display: flex;
  width: auto;
  max-width: 600px;
  max-height: 300px;
  padding: 15px;
  justify-content: space-between;
}

main .product-other-products .other-products-single img{
  width: 230px;
  object-fit: cover;
  border-radius: 5px;
}

main .product-other-products .other-products-single-text{
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .other-products-single-text h1{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

main .other-products-single-text h2{
  font-size: 15px;
  font-weight: 900;
  color: #000000;
}

main .other-products-single-text p{
  font-size: 14px;
  color: #000000;
}

main .other-products-single-btn button{
  width: 30px;
  height: 30px;
  background-color: #ec0202a2;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
}

main .single-btn{
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
main .button-cart{
  width: 120px;
  margin: 20px 5px 10px;
  padding: 10px 20px;
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  background-color:rgba(255, 255, 255, 0.829);
  border : 2px solid #ff000073 ;
  color:#ec0202e1 ;
  position: relative;
  border-radius:5px
}

main .button-cart:before{
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background:#ff000073 ;
  transition: all 0.2s ease;
}

main .button-cart:hover::before{
  height: 100%;
}
main .product-single-description h1{
  font-size: 30px;
}
main .product-single-description p{
  text-align: justify;
}
main .other-products-single-text p{
  text-align: justify;
  font-size: 13px
}
main .announce{
  margin-left:50px;
  font-weight: bold;
}

/*Footer*/
footer {
  max-width: 100%;
}

/*Main Media queries*/
@media screen and (max-width: 1400px){
  main .product-other-products{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  main .detail-product-single{
    flex-direction: column;
    align-items: center;
  }

  main .product-other-products{
    grid-template-columns: repeat(1, 1fr);
  }

  main .product-single-description{
    align-items: center;
    text-align: center;
    gap: 5px;
  }

}

@media screen and (max-width: 600px){
  main .product-other-products .other-products-single{
    padding: 5px;
  }

  main .product-other-products .other-products-single img {
    width: 40%;
  }
}






/*Footer*/