@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit-product-box {
  width: 100%; 
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

/*Main*/
main {
  margin-top: 100px;
}

main section {
  display: flex;
  justify-content: center;
}

main section form {
  width: 92%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*Form submit btn*/
main section form button {
  width: 100%;
  padding: 12px 5px;
  background-color: #5E1EBE;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
}

/*Single input container*/
.edit-form-element{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form-element label {
  font-size: 19px;
}

.edit-form-element input {
  padding: 8px;
  outline: none;
}

.edit-form-element textarea{
  padding: 9px;
  resize: none;
  outline: none;
}

.edit-form-element input:focus, select:focus, textarea:focus {
  border: 1px solid #5E1EBE;
  border-radius: 2px;
}

.edit-form-element select {
  outline: none;
  padding: 8px
}