.edit-product-box {
  width: 100%; 
  height: 100%;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

/*Main*/
main {
  margin: 50px 0;
}
main h2{
  display: block;
}
main section {
  display: flex;
  justify-content: center;
}

main section form {
  width: 92%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*Form submit btn*/
main section form button {
  width: 100%;
  padding: 8px 5px;
  background-color: #5E1EBE;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 450ms;
}

main section form button:hover {
  background-color: #5811c4b9;
}


/*Single input container*/
.edit-form-element{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form-element label {
  font-size: 19px;
}
.edit-form-element input, textarea, select{
  border-radius: 8px;
  padding: 5px;
}
.edit-form-element input {
    width: 100%;
    height: 30px;
   
}

.edit-form-element textarea{
  padding: 9px;
  resize: none;
}

.edit-form-element input:focus, select:focus, textarea:focus {
  border: 1px solid #5E1EBE;
  border-radius: 2px;
}

.edit-form-element select {
  outline: none;
  padding: 8px
}

#product-image{
  border-radius: 0;
}