.edit-product-box {
  width: 100%; 
  height: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url(../img/fast-food-1.jpg);
  background-size: cover;
  padding-top: 8px;
}

/*Main*/
main {
  margin: 50px 0;
}
main .selector-edit {
  text-align: center;
}
main h2{
  display: block;
}
main section {
  display: flex;
  justify-content: center;
}

main section form {
  width: 92%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*Form submit btn*/
main section form button {
  width: 100%;
  padding: 12px 5px;
  background-color: #5E1EBE;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 450ms;
}

main section form button:hover {
  background-color: #5811c4b9;
}


/*Single input container*/
.edit-form-element{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form-element label {
  font-size: 19px;
}
.edit-form-element input, textarea, select{
  border-radius: 2px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 15px;
}
.edit-form-element input {
  width: 100%;
}

.edit-form-element textarea{
  padding: 9px;
  resize: none;
}

.edit-form-element input:focus, select:focus, textarea:focus {
  border: 1px solid #5E1EBE;
  border-radius: 2px;
}

.edit-form-element select {
  outline: none;
  padding: 8px
}

#product-image{
  border-radius: 0;
}

/*Footer*/
footer {
  max-width: 100%;
  position: absolute;
  bottom: -10px;
}

@media screen and (max-height: 950px){

  footer {
    position: relative;
  }
}