@import url("header-footer.css");
.edit-product-box {
  width: 100%; 
  height: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url(../img/fast-food-1.jpg);
  background-size: cover;
  padding-top: 8px;
}

/*Main*/
main {
  margin: 50px 0;
}
main .selector-edit {
  text-align: center;
}
main h2{
  display: block;
  color: whitesmoke;
  
}
main section {
  display: flex;
  justify-content: center;
}

main section form {
  width: 92%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  
  gap: 15px;
}

/*Form submit btn*/
main section form button {
  width: 90%;
  padding: 12px 5px;
  background-color: #5E1EBE;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 450ms;
}

main section form button:hover {
  background-color: #5811c4b9;
}

main .text-danger{
  font-size : 11px;
  color: rgb(255, 104, 104);
 
}

/*Single input container*/
.edit-form-element{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  justify-content: center;
}

.edit-form-element label {
  font-size: 19px;
  color: gainsboro
}
.edit-form-element input, textarea, select{
  border-radius: 10px;
  border: 1px solid whitesmoke;
  outline: none;
  padding: 10px;
  font-size: 15px;
  background-color: rgba(239, 245, 248, 0.89);
}
.edit-form-element input {
  width: 100%;
}

.edit-form-element textarea{
  padding: 9px;
  resize: none;
}

.edit-form-element input:focus, select:focus, textarea:focus {
  border: 2px solid black;
  border-radius: 10px;
}

.edit-form-element select {
  outline: none;
  padding: 8px
}
.edit-image{
  text-align: center;
  justify-content: center;
  
  margin-bottom: 2px;
}
#productName {
  margin-top: 0px;
}
.edit-image img{
  width: 55%;
  position: relative;
  border-radius: 15px;
  
}

#product-image{
  border-radius: 10px;
}

.price-time {
  
  display: flex;
}

.price-time .product-price{
  width: 80%;
  
}

.price-time .delay-time {
  width: 80%;
  
}

 span {
  font-size : 11px;
  color: rgb(255, 104, 104);
}

/*Footer*/
footer {
  max-width: 100%;
  position: absolute;
  bottom: -10px;
}

@media screen and (max-height: 950px){

  footer {
    position: relative;
  }
}