@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100vh;
  position: relative;
  
}
ul {
  padding:0;
  list-style: none;
  margin:0;
}
a{
  text-decoration: none;
  cursor: pointer;
}

header {
  font-family: "Poppins", sans-serif;
  width:100%;
}

header a {
  text-decoration: none;
}

header .logo {
  display: none;
}

header .nav-cell,
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #000000b2;
  opacity: 98%;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.87);
}
header .nav-bar a {
  color:#000000;;
}
header .nav-bar .a-menu {
  color:#ffffff;;
}
header .nav-bar {
  display: none;
}
header .nav-cell {
  position: relative;
}
header .list, .list1, .list2{
  display: block;
  position: absolute;
  background: #000000a8;
  z-index: 100;
}
header .list {
  left: -100%;
  width: 100%;
  top: 60px;
  background: #000000e1;
  transition: all 0.3s;
}
header .list1 {
  right: 9%;
  width:170px;
  top: -100%;
}

header .list2 {
  right: 0px;
  width:100px;
  top: -100%;
}
header .list li a, .list1 li a, .list2 li a {
  font-size: 15px;
  color: white;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  padding: 3px 15px;
}
header .list1 li a, header .list2 li a{
  margin:0px;
}

header .burger-menu {
  cursor: pointer;
}
#btn-menu {
  display: none;
}
#btn-menu:checked ~ .list {
  left: 0;
  transition: all 0.3s;
}
header .burger-admin, .burger-user {
  cursor: pointer;
}
#btn-admin {
  display: none;
}
#btn-admin:checked ~ .list1 {
  top: 65px;
}
#btn-user {
  display: none;
}
#btn-user:checked ~ .list2 {
  top: 65px;
}

header .search {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 50%;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 1);
}
header .search input,
.search button {
  background-color: transparent;
  border: 0;
}
header .search input {
  width: 70%;
}
header .fa-wrench {
  padding: 15px;
}
header .fa-shopping-cart,
.fa-user,.fa-bars,.fa-wrench {
  background: #ffffffe6;
  border-radius: 50%;
  padding: 10px;
  font-size: 100%;
  margin: 0 5px;
  
}

header .img-profile{
  width: 38px;
  height:36px;
  margin-top: 3px;
}
/*-------------------------------------------home-----------------------------------------*/
.m-home {
  position: absolute;
  bottom: 50px;
  top: 0px;
  z-index: -1;
}



footer{
  width: 100%;
  height: 50px;
  background-color:#000000a8;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   
}
.f-home, .f-cart{
  background-color:#000000da;
  position: absolute;
  bottom:0px;
}

.f-edit, .f-profile{
  background-color:#000000da;
  position: relative;
  bottom:0px;
}

footer div{
  display: flex;
   justify-content:space-between;
   align-items: center;
}

footer div .footer-right, div .footer-left{
  display: flex;
}
footer div .footer-right li{
  margin: 0px 5px
}
footer div .footer-right li, div li a{
  color:  #ffffff ;
  font-size: 12px;
}
footer div .footer-left i{
  color: #000000;
  background: #f1f1f1e6;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  margin: 0px 5px;
}


@media (min-width: 768px) {
  header .nav-cell {
    display: none;
  }
  header .nav-bar {
    display: flex;
  }
  header .nav-bar a {
    font-size: bold;
    margin: 0 15px;
  }
  header .container button {
    width: 80px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: normal;
    margin: 2px 0;
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: transparent;
    align-self: center;
  }
  header .fa-shopping-cart,
  .fa-user {
    padding: 15px;
  }
  header .logo {
    display: block;
    width: 75px;
  }
  button:hover {
    cursor: pointer;
  }

  header .search {
    background-color: white;
    margin: 0 15px;
  }

  header .container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  header .list1 {
    right: 11%;
  }
  header .img-profile{
    width: 48px;
    height:46px;
  }
}
