@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100vh;
  position: relative;
}
ul {
  padding:0;
  list-style: none;
  margin:0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
body{
  padding-top: 8px;
  background-color: #F1F1F1 ;
}
header {
  font-family: "Poppins", sans-serif;
  width:100%;
}

header a {
  text-decoration: none;
}

header .logo {
  display: none;
}

header .nav-cell,
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  opacity: 98%;
  align-items: center;
  padding: 0px 40px;
  color: #6a696e;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}
header .nav-bar a {
  color: #6a696e;
}
header .nav-bar {
  display: none;
}
header .nav-cell {
  position: relative;
}
header .list, .list1, .list2{
  display: block;
  position: absolute;
  background: white;
}
header .list {
  left: -100%;
  width: 100%;
  top: 60px;
  transition: all 0.3s;
}
header .list1 {
  right: 30px;
  width:170px;
  top: -100%;
}

header .list2 {
  right: 0px;
  width:100px;
  top: -100%;
}
header .list li a, .list1 li a, .list2 li a {
  color: black;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  padding: 3px 15px;
}
header .list1 li a, header .list2 li a{
  margin:0px;
}

header .burger-menu {
  cursor: pointer;
}
#btn-menu {
  display: none;
}
#btn-menu:checked ~ .list {
  left: 0;
  transition: all 0.3s;
}
header .burger-admin, .burger-user {
  cursor: pointer;
}
#btn-admin {
  display: none;
}
#btn-admin:checked ~ .list1 {
  top: 65px;
}
#btn-user {
  display: none;
}
#btn-user:checked ~ .list2 {
  top: 65px;
}




header .search {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 50%;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.9);
}
header .search input,
.search button {
  background-color: transparent;
  border: 0;
}
header .search input {
  width: 70%;
}
header .fa-wrench {
  padding: 15px;
}
header .fa-shopping-cart,
.fa-user,.fa-bars,.fa-wrench {
  background: #f1f1f1e6;
  border-radius: 50%;
  padding: 10px;
  font-size: 100%;
  margin: 0 5px;
}
/*-------------------------------------------home-----------------------------------------*/
.m-home {
  position: absolute;
  bottom: 50px;
  top: 0px;
  z-index: -1;
}

/*----------POPUP*------------*/
main .general-container{
  width: 60%;
  height: 350px;
  position: fixed;
  top:20%;
  left: 20%;
  background:rgba(0, 0, 0, 0.6);
  padding: 30px 40px;

}
main .pop-up{
  width:100%;
  height:100%;
  margin:auto;
  background-color:white;
  border-radius: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
}

main .btns-popup button{
  width: 200px;
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
  margin: 10px;
  background-color: transparent;
  align-self: center;
}


#edit-btn{
  border: 2px solid red;
  color: red;
}
#create-btn{
  border: 2px solid #21b16c;;
  color:#21b16c;;
}

/*----------POPUP*------------*/


footer{
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   
}
.f-home{
  position: absolute;
  bottom:0px;
}
.f-cart{
  position: absolute;
  bottom:0px;
}
.f-edit{
  position: relative;
  bottom:0px;
}
footer div{
  display: flex;
   justify-content:space-between;
   align-items: center;
}

footer div .footer-right, div .footer-left{
  display: flex;
}
footer div .footer-right li{
  margin: 0px 5px
}
footer div .footer-right li, div li a{
  color:  #6A696E ;
  font-size: 12px;
}
footer div .footer-left i{
  color: #6A696E;
  background: #f1f1f1e6;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  margin: 0px 5px;
}


@media (min-width: 768px) {
  header .nav-cell {
    display: none;
  }
  header .nav-bar {
    display: flex;
  }
  header .nav-bar a {
    font-size: bold;
    margin: 0 15px;
  }
  header .container button {
    width: 80px;
    border-radius: 30px;
    font-size: 14px;
    margin: 2px 0;
    color: #21b16c;
    border: 2px solid #21b16c;
    background-color: transparent;
    align-self: center;
  }
  header .fa-shopping-cart,
  .fa-user {
    padding: 15px;
  }
  header .logo {
    display: block;
    width: 75px;
  }
  button:hover {
    cursor: pointer;
  }

  header .search {
    background-color: white;
    margin: 0 15px;
  }

  header .container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  header .list1 {
    right: 60px;
  }
}
