@import url("header-footer.css");
body{
   background-image: url(../img/fast-food.jpg);
   background-size: cover;
   padding-top: 8px;
 }
 .welcome-style{
   
  background-color: rgba(0, 0, 0, 0.116);
   background-repeat:repeat-y;
   background-size:100vw;
   max-width:100%;
   height: 60%;
   padding:50px 20px 20px 20px ;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
}






/*-------------------------------------------home-----------------------------------------*/

footer{
   width: 100vw;
   height: 50px;
   background-color: #FFFFFF;
   padding: 10px 20px;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   color:black
 }
.f-home{
   position: absolute;
   bottom:0px;
}
.f-cart{
   position: fixed;
   bottom:0px;
}
 footer div{
   display: flex;
    justify-content:space-between;
    align-items: center;
 }

 footer div .footer-right, div .footer-left{
   display: flex;
 }
 footer div .footer-right li{
   margin: 0px 5px
 }
 footer div .footer-right li, div li a{
   color:  #6A696E ;
   font-size: 12px;
 }
 footer div .footer-left i{
   color: #6A696E;
   background: #f1f1f1e6;
   border-radius: 50%;
   padding: 5px;
   font-size: 20px;
   margin: 0px 5px;
 }
 @media (min-width: 480px) {
   

    .container-int article div li{
      margin:  10px 10px;
   }
    .container-int article img{
      max-width: 250px;
   }
    .container-int article div{
      margin: 0 20px
   }
    .container-int article .fa-trash-alt{
      margin: 0 20px;
      font-size: 25px
   }

 }
@media (min-width: 768px) {
   header .nav-cell{
      display:none;
   }
   header .nav-bar{
      display: flex;
   
   }
   header .nav-bar a{
      font-size: bold;
      margin: 0 15px;
   } 
   header .container button{
      width: 80px;
      border-radius: 30px;
      font-size: 14px;
      margin: 2px 0;
      color: #ffffff ;
      border: 2px solid #ffffff ;
      background-color: transparent;
      align-self: center;
   }
   header .fa-shopping-cart, .fa-user{
      padding: 15px;
   }
   header .logo{
      display: block;
      width: 75px;
   }
   button:hover{
      cursor:pointer;
   }

   header .search{
      background-color: white;
      margin: 0 15px;
   }

   header .container{
      display: flex;
      flex-direction: column;
      margin: 0 15px;
   }
 /*-------------------------------------------home-----------------------------------------*/
   main .welcome-style h1{
      font-size: 50px;
   }
   main .welcome-style p{
      max-width: 50%;  
   }
/*-------------------------------------------home-----------------------------------------*/
    .container-int article div{
      margin: 0;
   }   
    .container-int article div ul{
      display: flex;
      align-items:center;
   }
    .container-int  article ul li{
      margin: 0 25px
   } 
}
  


@media (min-width: 1200px) {
/*-------------------------------------------home-----------------------------------------*/
    .carousel-style i{
      display:block;
      font-size: 40px;
   }
    .carousel-style{
      justify-content: space-between;
   }


/*-------------------------------------------home-----------------------------------------*/  
}
.container-swipper{
   width: 100%;
   padding-bottom: 100px;
   margin-top: 0px;
 }
 .swiper {
   width: 100%;
   background:#ffffff79;
   border-top: 3px solid #ffffffe1;
   border-bottom: 3px solid #ffffffe1;
 }
 .swiper-wrapper{
   width: 100%;
 }
 .swiper-slide {
  
   position:relative;
   width: 100%;
   text-align: center;
   font-size: 18px;
   background:  rgba(238, 238, 238, 0);
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   padding: 30px;
 }

 @media screen and (max-width: 600px) {
   .swiper-slide {
      padding: 0
   }
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   object-fit: cover;
 }
 .f-home {
    position: fixed;
    z-index: 3;
    bottom: 0;
 }
 .f-home a{
   color: white;
 }
 .f-home a li i{
   color: black;
 }

 .p-title{
    font-size: 3em;
    margin: 0px; 
    font-weight: bold;
    position: relative;
   
 }
 
