@import url("header-footer.css");
@import url("shopping-cart.css");

body{
    background-image: url(../img/fast-food-1.jpg);
    background-size: cover;
    padding-top: 8px;
  }
main{
    width:100%;
    margin: auto;
    padding: 20px 50px;
}
main h1{
    text-align: center;
    color: white;
}
main .tftable {
    font-size:12px;
    color:black;
    width:100%;
    border-width: 1px;
    border-color: #00000000;
    border-collapse: collapse;
    margin-top: 10px;
}
main .tftable th {
    font-size:14px;
    background-color:#acc8cc00;
    border-width: 1px;
    border-style: solid;
    border-color: #4b474798;
    text-align:left;}

main .tftable th p{
    text-align: center;
    font-size:14px;
    font-weight: bold;
}
main .tftable tr {
    background-color:#d4e3e500;}
main .tftable td {
    font-size:14px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #4b474798;
    text-align: center;
   }
main .tftable .left{
    border-left: none;
}
main .tftable .right{
    border-right: none;
}
main .tftable td a{
    text-align: center;
    color: black;
    text-decoration: none;
}
main .tftable tr:hover {
    background-color:#ffffff;}
main .delete{
    border: none
}
main .delete i{
    font-weight: bold;
}