@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .search button {
  padding:  0 6px
}
.menu-box {
  width: 100%;
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

/*Header*/
header {
  width: 100%;
}
/*Main*/

/*Products Categories*/
main .box-products-categories {
  background-color: #ffffff;
}

main .box-products-categories-title {
  display: flex;
  padding-left: 30px;
  padding-top: 20px;
}

main .box-products-categories-content {
  display: flex;
  overflow: hidden;
  padding: 40px 0px 80px 30px;
  gap: 15px;
}

/*Product Card*/
main .categories-content-single-product {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 33px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -22px rgba(0, 0, 0, 0.75);
  transition: all 0.6s ease-in;
}

main .categories-content-single-product:hover {
  transform: scale(1.07);
  transition: all 0.6s ease-in;
}

main .categories-content-single-product img {
  width: 100px;
  border-radius: 50%;
}



/*Banner*/

main .box-products-banner {
  width: 100%;
  height: 100%;
  background-size: cover;
}
main .section-products{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .container-product{
  width: 23%;
  height: 100%;
  border: solid 1px #c7c6c6;
  border-radius: 5%;
  background-color: #ffffff;
  padding:10px;
  margin: 10px 8px;
}

main .container-product a{
  color: black
}

main .detail-product{
  display: flex;
  justify-content: space-between;
}

main .container-product img{
  width: 100%;
}

/*Products Best sellers*/
main .box-products-bestsellers {
  margin-top: 50px;
  background-color: #ffffff;
}

main .box-products-bestsellers-title {
  padding-left: 30px;
  padding-top: 40px;
}

main .box-products-bestsellers-content {
  display: flex;
  overflow: hidden;
  padding: 40px 0px 80px 30px;
  gap: 25px;
}


main .bestsellers-content-single-product {
  padding: 40px;
  border-radius: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 2px 33px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -22px rgba(0, 0, 0, 0.75);
  transition: all 0.6s ease-in-out;
}

main .bestsellers-content-single-product:hover {
  transform: scale(1.04);
  transition: all 0.6s ease-in-out;
}

main .bestsellers-content-single-product img {
  width: 150px;
}

main .bestsellers-content-single-product h2 {
  font-size: 17px;
}

main .bestsellers-content-single-product p {
  font-size: 14px;
  color: #6a696e;
}

/*Products LovedBy People*/
main .box-products-lovedbypeople {
  border: 2px solid orange;
}



/*Footer*/
footer {
  max-width: 100%;
  
}


/*Media queries*/

@media screen and (max-width: 849px) {
  main .box-products-categories-content,
  main .box-products-bestsellers-content {
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  main .container-product{
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  main .container-product{
    width: 95%;
  }
}
