@import url("header-footer.css");
@import url("home.css");
body,html{
   position: relative;
   height: 100%
}
body{
   background-image: url(../img/fast-food-1.jpg);
   background-size: cover;
   padding-top: 8px;
 }
/*-------------------------------------------Cart-----------------------------------------*/
.m-cart{
    width:100%;
    padding: 20px 10px;
 }
 main .container-ext{
    width:99%;
    margin:auto;
    margin-top:1.5%;
    border: 1px solid #adaaaa94 ;
    background-color:  #adaaaa94 ;
    border-radius: 10px;
    padding: 25px 3px 3px 3px;
    max-height: 400px;
    overflow-y:scroll
 }
 main .container-ext::-webkit-scrollbar{
    width: 7px;
 }
 main .container-ext::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 1.5px solid  #4b474798;
    background-color: rgba(255, 255, 255, 0.9);
 }
 
 main .container-int{
    width:100%;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding:5px;
    
 }
 main .container-int article{
    width:100%;
    padding:5px;
    border-bottom:1px solid #4B4747;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }
 main .container-int article div, .container-int article div ul{
    width:100%;
    justify-content: space-evenly;
 }

 main .container-int article img{
    width:20%
 }
 
 main .container-int article div li{
    margin:  5px 10px;
 }
 main .container-int article .fa-trash-alt{
    margin: 0 15px;
 }
 .description{
    font-size: 12px
 }
 .price{
    color:green;
    font-weight: bold;
 }
 .cantity{
    max-width: 75px;
   
 }
 .subtotal{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    align-self: center;
 }
 main .out-cart{
    display: flex;
    height: 40px;
    margin:auto;
    width:99%;
    justify-content:space-between;
    padding: 10px 0;
    color: #ffffff;
 }    
 main .out-cart button{
    width: 90px;
    border: 1px solid #000000e1;
    border-radius:5px;
    background-color:#fffffff5 ;
    font-weight: bold;
    color: #000000;
 }                           
 
@media screen and (max-width: 600px){
   main .container-int article img{
      width:50%
   }
 }
 @media screen and (min-height: 540px){
   main .container-ext{  
    max-height: 410px;
   }
 }

 /*-------------------------------------------Cart-----------------------------------------*/