@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,body {
   width: 100%;
   height: 100vh;
   position: relative;
}
body{
   padding-top: 8px;
    background-color: #F1F1F1 ;
}
ul {
   padding:0;
   list-style: none;
   margin:0;
}
a{
   text-decoration: none;
   cursor: pointer;
}
header .logo{
   display: none;
}

header .nav-cell, .nav-bar{
   display:flex;
   justify-content:space-between;
   width: 100%;
   height: 60px;
   background-color: #FFFFFF ;
   opacity:98%;
   align-items: center;
   padding: 0px 40px;
   color: #6A696E;
   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
header .nav-bar a{
   color: #6A696E;
} 
header .nav-bar{
   display:none;
}
header .nav-cell{
   position: relative;
}

header .list{
   display: block;
   position: absolute;
   background:white;
   left: -100%;
   width: 100%;
   top:60px;
   transition: all 0.3s;
}
header .list li a{
   color: black;
   display: inline-block;
   width:100%;
   padding:5px 20px;
   border-bottom: 1px solid;
}
header .burger-menu{
   cursor: pointer;
}
#btn-menu{
   display: none;
}
#btn-menu:checked ~ .list{
   left:0;
   transition: all 0.3s;
}

header .search {
   background: #fff;
   height: 30px;
   border-radius: 30px;
   padding: 10px 0px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   cursor: pointer; 
   width: 50%;
   box-shadow:  4px 4px 6px 0 rgba(0, 0, 0, 0.9)
}
header .search input, .search button {
   background-color:transparent;
   border:0;
}
header .search input{
   width: 70%;
}
header .fa-shopping-cart, .fa-user, .fa-bars{
   background: #f1f1f1e6;
   border-radius: 50%;
   padding: 10px;
   font-size: 100%;
   margin: 0 5px;
}
/*-------------------------------------------Menu-----------------------------------------*/
.m-home{
   position: absolute;
    bottom:50px;
    top:0px;
    z-index:-1;
 }
main .welcome-style{
   background-image: url(../img/fast-food.jpg);
   background-repeat:repeat-y;
   background-size:100vw;
   max-width:100%;
   height: 60%;
   padding:50px 20px 20px 20px ;
   color: white;
}
main .carousel-style i{
   display:none;
   font-size: 40px;

}
main .welcome-style h1{
   font-size: 35px;
}
main .welcome-style p{
  max-width: 70%;
  
}
main .carousel-style{
   width: 100vw;
   margin: 0;
   background-color: #F1F1F1 ;
   display: flex;
   justify-content: center;
   align-items:center;
   padding: 20px 0;
   height: 40%;
   
}

main .carousel-style article{
   max-width: 157px;
   margin:0 20px;
  
}
main .carousel-style img{
   width: 100%;
   align-self: center;
   
}

#img-2{
   display:none;
}
#img-3{
   display:none;
}
#img-4{
   display:none;
}

/*-------------------------------------------Menu-----------------------------------------*/
/*-------------------------------------------Cart-----------------------------------------*/
.m-cart{
   width:100%;
   padding: 20px 10px;
}
main .container-ext{
   width:99%;
   margin:auto;
   margin-top:1.5%;
   border: 1px solid #4B4747;
   background-color: #4B4747;
   border-radius: 10px;
   padding: 25px 3px 3px 3px;
   max-height: 350px;
   overflow-y:scroll
}
main .container-ext::-webkit-scrollbar{
   width: 7px;
}
main .container-ext::-webkit-scrollbar-thumb{
   border-radius: 20px;
   border: 1.5px solid  #4B4747;
   background-color: #FFFFFF; ;
}

main .container-int{
   width:100%;
   border: 1px solid #FFFFFF;
   background-color: #FFFFFF;
   border-radius: 10px;
   padding:5px;
   
}
main .container-int article{
   width:100%;
   padding:5px;
   border-bottom:1px solid #4B4747;
   display:flex;
   justify-content: space-between;
   align-items: center;
}
main .container-int article img{
   width:35%
}

main .container-int article div li{
   margin:  5px 10px;
}
main .container-int article .fa-trash-alt{
   margin: 0 15px;
}
#description{
   font-size: 12px
}
#price{
   color:green;
   font-weight: bold;
}
#cantity{
   max-width: 75px;
  
}
#subtotal{
   font-size: 12px;
   font-weight: bold;
   margin: 0 10px;
}
main .out-cart{
   display: flex;
   margin:auto;
   width:99%;
   justify-content:space-between;
   padding: 10px 0
}    
main .out-cart button{
   width: 90px;
   border: 1px solid #5E1EBE;
   border-radius:5px;
   background-color:#5E1EBE;
   color: #ffffff;
}                           

/*-------------------------------------------Cart-----------------------------------------*/
footer{
   width: 100vw;
   height: 50px;
   background-color: #FFFFFF;
   padding: 10px 20px;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
 }
.f-home{
   position: absolute;
   bottom:0px;
}
.f-cart{
   position: fixed;
   bottom:0px;
}
 footer div{
   display: flex;
    justify-content:space-between;
    align-items: center;
 }

 footer div .footer-right, div .footer-left{
   display: flex;
 }
 footer div .footer-right li{
   margin: 0px 5px
 }
 footer div .footer-right li, div li a{
   color:  #6A696E ;
   font-size: 12px;
 }
 footer div .footer-left i{
   color: #6A696E;
   background: #f1f1f1e6;
   border-radius: 50%;
   padding: 5px;
   font-size: 20px;
   margin: 0px 5px;
 }
 @media (min-width: 480px) {
   

   main .container-int article div li{
      margin:  10px 10px;
   }
   main .container-int article img{
      max-width: 250px;
   }
   main .container-int article div{
      margin: 0 20px
   }
   main .container-int article .fa-trash-alt{
      margin: 0 20px;
      font-size: 25px
   }
   #img-2{
      display:flex;
   }
 }
@media (min-width: 768px) {
   header .nav-cell{
      display:none;
   }
   header .nav-bar{
      display: flex;
   
   }
   header .nav-bar a{
      font-size: bold;
      margin: 0 15px;
   } 
   header .container button{
      width: 80px;
      border-radius: 30px;
      font-size: 14px;
      margin: 2px 0;
      color: #21B16C ;
      border: 2px solid #21B16C ;
      background-color: transparent;
      align-self: center;
   }
   header .fa-shopping-cart, .fa-user{
      padding: 15px;
   }
   header .logo{
      display: block;
      width: 75px;
   }
   button:hover{
      cursor:pointer;
   }

   header .search{
      background-color: white;
      margin: 0 15px;
   }

   header .container{
      display: flex;
      flex-direction: column;
      margin: 0 15px;
   }
 /*-------------------------------------------Menu-----------------------------------------*/
   main .welcome-style h1{
      font-size: 50px;
   }
   main .welcome-style p{
      max-width: 50%;  
   }
/*-------------------------------------------Menu-----------------------------------------*/
   main .container-int article div{
      margin: 0;
   }   
   main .container-int article div ul{
      display: flex;
      align-items:center;
   }
   main .container-int  article ul li{
      margin: 0 25px
   }
   #img-3{
      display:flex;
   }
  
}
  


@media (min-width: 1200px) {
/*-------------------------------------------Menu-----------------------------------------*/
   main .carousel-style i{
      display:block;
      font-size: 40px;
   }
   main .carousel-style{
      justify-content: space-between;
   }

   #img-4{
      display:flex;
   }
/*-------------------------------------------Menu-----------------------------------------*/  
}