<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail product</title>
    <link rel="stylesheet" href="/css/detail-product.css">
</head>
<body>
    
  <div class="detail-product-box">
    <header>
      
    </header>

    <main>
      <!--Single Product-->
      <section class="detail-product-single">
        <article class="product-single-product">
          <img src='/img/detail-hamburguer3.jpg' />
          <article class="single-product-quantity">
            <div class="single-decrease-quantity">
              <h2> - </h2>
            </div>
            <p>1</p>
            <div class="single-increase-quantity">
              <h2> + </h2>
            </div>
          </article>
        </article>

        <article class="product-single-description">
          <h1>Burguer doble carne</h1>
          <p>
            Hamburguesa personal con queso americano, salsa 
            artesanal, doble carne y vegetales.
          </p>
          <h2>$25.000</h2>
          <button>Add to Cart</button>
        </article>
      </section>

      <section class="detail-product-others">
        <article class="product-others-title">
          <h1>Explore More Food</h1>
        </article>

        <section class="product-other-products">
          <article class="other-products-single">
            <img src='/img/detail-hamburguer2.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 16.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-hamburguer.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 20.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>
          
          <article class="other-products-single">
            <img src='/img/detail-hamburguer2.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 16.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-hamburguer.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 20.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-hamburguer2.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 16.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-hamburguer.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 20.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-pizza.jpg' />
            <div class="other-products-single-text">
              <h1>Vegetarian Pizza</h1>
              <p>
                10gr de queso, vegetales, salsa de tomate
              </p>
              <h2>$ 30.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-hamburguer.jpg' />
            <div class="other-products-single-text">
              <h1>Pork Burguer</h1>
              <p>
                150gr de carne, 50gr de tocineta, cebolla confitada
              </p>
              <h2>$ 20.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>

          <article class="other-products-single">
            <img src='/img/detail-pizza.jpg' />
            <div class="other-products-single-text">
              <h1>Vegetarian Pizza</h1>
              <p>
                10gr de queso, vegetales, salsa de tomate
              </p>
              <h2>$ 30.000</h2>
            </div>
            <div class="other-products-single-btn">
              <button>+</button>
            </div>
          </article>
        </section>
      </section>
    </main>

    <footer>

    </footer>
  </div>

</body>
</html>